.errors {
   background-color: red;
   padding: .6rem;
   color: #fff;
   border-radius: 10px;
   width: 25rem;
}

.Login {
   display: flex;
   align-items: center;
   justify-content: center;
}

.Login .Login_form {
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 8px;
   align-items: center;
   justify-content: center;
   padding: 2rem 0 2rem 0;
   gap: 2rem;
   width: 40rem;
   height: 700px;
   background-color: #0055d6;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 10px;
   margin-top: 2rem;
}


.Login_form span {
   font-size: 1.5rem;
   color: #fff
}

.Login_group {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   gap: 3rem;
   margin-top: 1rem;
}

.login_label{
   color: #fff
}

.Login_input {
   display: flex;
   flex-direction: column;
   width: 20rem;
   height: 100%;
   box-shadow: var(--shadow);
   background-color: var(--content-color);
   color: #fff;
   border: 1px solid rgb(177, 177, 177);
   outline: none;
   border-radius: 1rem;
   padding: 0.625rem 1.875rem;
   z-index: 1;
}

.Login_input::placeholder{
   color: #fff;
}

.LoginBtn {
   margin-top: 1rem;
   padding: 0.5rem;
   width: 20rem;
   height: 3rem;
   line-height: 1;
   border-radius: .5rem;
   color: #fff;
   background-color: #fff;
   font-weight: var(--font-bold);
}

.LoginBtn span {
   color: #0055d6;
   font-size: 1rem;
}

button {
   cursor: pointer;
   border: none;
   outline: none;
}

@media screen and (max-width: 1024px) {
   .Login .Login_form {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      padding: 2rem 0 2rem 0;
      gap: 2rem;
      width: 30rem;
      height: 700px;
      background-color: #0055d6;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 10px;
      margin-top: 2rem;
   }

}