.errors {
   background-color: red;
   padding: .6rem;
   color: #fff;
   border-radius: 10px;
   width: 25rem;
}

.customer_messages {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 10rem
}

.customer_messages span {
   font-size: 2rem;
}

.customerPage {
   margin-top: 1rem;
}

.customerPage_header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 2rem 0 0 0;
   gap: 2rem;
   margin-bottom: 1rem;
}
.customerPage__greet {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 54px;
   line-height: 32px;
   color: #0A0A0A;
}

.customerPage__title {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   color: rgb(177, 177, 177);
}

.customerPage_Form {
   display: flex;
   align-items: center;
   justify-content: center;
}

.customerPage_Form .forms {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid rgb(177, 177, 177);
   border-radius: 8px;
   align-items: center;
   justify-content: center;
   padding: .5rem 0 .5rem 0;
   gap: 1.5rem;
   width: 35rem;
   height: 500px;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 8px;
   margin-top: 1rem;
}


.forms span {
   font-size: 1.5rem;
   color: #333
}

.customer-form_group {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
   margin-top: 1rem;
}

.customer-form_input {
   display: flex;
   flex-direction: column;
   width: 20rem;
   height: 2.5rem;
   color: black;
   border: 1px solid rgb(177, 177, 177);
   outline: none;
   border-radius: .5rem;
   padding: 0.625rem 1.875rem;
   z-index: 1;
}

.bookBtn {
   margin-top: .6rem;
   padding: 0.5rem;
   width: 20rem;
   height: 2rem;
   line-height: 1;
   border-radius: .5rem;
   color: #fff;
   background-color: #0055D6;
}

.bookBtn span {
   color: #fff;
   font-size: 1rem;
}

button {
   cursor: pointer;
   border: none;
   outline: none;
}

@media screen and (max-width: 1024px) {
   .customerPage_Form .forms {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(177, 177, 177);
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      padding: 2rem 0 2rem 0;
      gap: 2rem;
      width: 30rem;
      height: 700px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      margin-top: 2rem;
   }
}


@media screen and (max-width: 450px) {

   .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   .customerPage_header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 0 0 0;
      gap: .5rem;
   }

   .customerPage__greet {
      font-size: 34px;
   }

   .customerPage__title {
      font-size: 10px;
   }

   .customerPage_Form .forms {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(177, 177, 177);
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      padding: 2rem 2rem 2rem 2rem;
      gap: 1px;
      width: 17rem;
      height: 700px;
      box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
      border-radius: 8px;
      margin: 2rem 0 0 2rem;
   }

   .customer-form_input {
      display: flex;
      flex-direction: column;
      width: 12rem;
      height: 2rem;
      color: black;
      border: 1px solid rgb(177, 177, 177);
      outline: none;
      border-radius: .5rem;
      padding: 0.625rem 1.875rem;
      z-index: 1;
   }

   .bookBtn {
      margin-top: 1rem;
      padding: 0.5rem;
      width: 10rem;
      height: 3rem;
      line-height: 1;
      border-radius: .5rem;
      color: #fff;
      background-color: #0055D6;
      font-weight: var(--font-bold);
   }
}