.dashboard {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

.dashboard .header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 47.1rem;
}

.dashboard__title span{
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 32px;
   color: #0A0A0A;
}

.dashboard__title:nth-child(2){
   color: #fff;
   font-size: 15px;
   padding: 10px;
   border-radius: 8px;
   background-color: #0055d6;
   cursor: pointer;
}

.dashboard__Tabs {
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 2rem;
}

.table{
   border: 1px solid #ddd;
   border-radius: 8px;
   width: 46.1rem;
   height: 100%;
   box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
   border-radius: 8px;
}

/* Media Query */
@media screen and (max-width: 1334px) {
   .dashboard {
      gap: 2rem;
   }
   .table {
      width: 41rem;
      overflow-x: scroll;
   }
   .dashboard .header {
      text-align: left;
      width: 40.1rem;
   }
}

@media screen and (max-width: 450px) {
   .dashboard__Tabs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 3rem;
   }
   .dashboard .header {
      text-align: left;
      width: 15rem;
   }
   .table {
      width: 18rem;
      overflow-x: scroll;
      margin-left: 2rem;
   }
}