.main {
  margin-top: 2rem;
  padding: 0rem 15rem 2rem 15rem;
  background-color: var(--dashboard-color)
}

@media screen and (max-width: 1024px) {
  .main {
    padding: 0rem 5rem 2rem 5rem;
  }
}

@media screen and (max-width: 450px) {
  .main {
    padding: 0rem 5rem 2rem 2rem;
  }
}